 search box, button
if result // result || show no phone found
use card(image, model, brand) 
more info btn in card(show details in between search box & cards, image, name & below release date || nor release date found , + 6 more phone specs ) 

responsive for desktop(3 col)-phone(1 col)

use of () => {}

6 commits 

Bonus: 
show sensor infos
show other others info 

show max 20 search results(show all button {optional})
spinner(optional)
case insensitive search(optional)


---------------------
others

 